<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LLM Board Game{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('images/dice.svg') }}" sizes="any" type="image/svg+xml">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <header>
                {% block header %}{% endblock %}
            </header>
            <main>
                {% block content %}{% endblock %}
            </main>
            <footer>
                {% block footer %}
                    <div class="footer">
                        All rights reserved Michał Górecki 2023/24
                    </div>
                {% endblock %}
            </footer>
        </div>
    </body>
</html>
